.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.search_container {
  display: grid;
  grid-template-columns: 1fr 30px;
  text-align: left;
  background-color: #ededed;
  align-content: center;
}

.input {
  align-content: center;
  background-color: #ededed;
  border: 0px solid;
  color: #5f7e96;
  margin-left: 2px;
  width: 80%;
}

.search_btn {
  cursor: pointer;
  align-items: center;
  background-color: #ededed;
  border: 0px solid;
}

.search_btn img {
  height: 15px;
}

.menu_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  text-align: center;
}

.menu_btn a {
  color: #5f7e96;
  text-decoration: none;
  font-weight: bold;
  font-style: inherit;
  font-size: 13px;
}

.menu_btn a.active {
  color: #ff5e3a;
}

.cart_image {
  background-image: url('./../../assets/images/shopping-cart.png');
  background-repeat: no-repeat;
  /* background-size: 55% auto; */
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  min-height: 37px;
}

.cart_count {
  color: #5f7e96;
  text-align: center;
  padding-top: 2px;
  padding-left: 5px;
}

.login {
  margin-top: 5px;
}

.login img {
  text-align: center;
  height: 30px;
}
