.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.cart {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
}

.cart img {
  height: 25px;
  margin-top: 3px;
  /* margin-left: 15px; */
}

.cart_count {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: #5f7e96;
}

.count_text {
  font-size: 12px;
}

.search {
  text-align: left;
  margin: 5px;
}

.input {
  background-color: #ededed;
  width: 80%;
  height: 100%;
  font-size: 13px;
  padding-left: 10px;
  border: 0px solid;
  color: #5f7e96;
  /* background-image: url('./../../assets/images/search.png'); */
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 25px;
}

.menu_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.menu_btn a {
  color: #5f7e96;
  text-decoration: none;
  font-weight: bold;
  font-style: inherit;
  font-size: 13px;
}

.login {
  text-align: center;
}
