.content_main {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 20vw;
  margin-right: 20vw;
}

.content {
  display: grid;
  grid-template-rows: 120px 1fr;
}

.header {
  margin-top: 3vw;
}

.products_container {
  display: grid;
  grid-template-columns: 4fr;
}
